.pageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 100vh;
}

.message-container {
  margin-bottom: 5px;
  margin-left: auto;
}

.input-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: black;
  padding: 0.5rem;
  border-radius: 5px;
}

#message {
  display: flex;
  align-items: flex-end;
  padding: 8px;
  border-radius: 5px;
  font-size: 16px;
}

#sendButton {
  align-self: center;
  padding: 8px 16px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.message-item {
  display: block;
  width: max-content;
  border: 0.5px solid #ddd;
  border-radius: 8px;
  padding: 2.5px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  margin-left: auto;
}
