body,
html {
  background-image: url('./assets/whatsapp-coconut-trees-photography-k75pi1y5677jw35o.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
